<% provide(:title, "進捗更新(#{@stove.customer_name})") %>
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">進捗更新</h1>
    </div>
    <div class="modal-body">
    <h2>完了したらチェックボタンを押して更新</h2>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 center">
          <%= form_with(model: @stove, local: true) do |f| %>
       		<div class="chkbox-progress">
      	  	<%= f.check_box :progress, id: "chkbox-progress" %>
      	  	<%= f.label "完了", for: "chkbox-progress" %>
      		</div>
          <div class="btn-progress">
            <%= f.submit "更新", class: "btn btn-lg btn-success" %>
            <%= link_to "キャンセル", stoves_path, class: "btn btn-lg btn-default active" %>
          </div>
      		<% end %>
        </div>
      </div>
    </div>
  </div>
</div>
