<% provide(:title, "進捗更新(#{@stove.customer_name})") %>

<h1 class="modal-title">進捗更新</h1>
<h2>チェックボタンを押して更新</h2>
<div class="row">
  <div class="col-md-10 col-md-offset-1 center">
    <%= form_with(model: @stove, local: true) do |f| %>
 		<div class="chkbox-reminder">
	  	<%= f.check_box :reminder, id: "chkbox-reminder" %>
	  	<%= f.label "催促あり", for: "chkbox-reminder" %>
		</div>
    <div class="btn-reminder">
      <%= f.submit "更新", class: "btn btn-lg btn-danger" %>
      <%= link_to "キャンセル", stoves_path, class: "btn btn-lg btn-default active" %>
    </div>
		<% end %>
  </div>
</div>
