<% provide(:title, '薪ストーブメンテナンス') %>

<% if params[:search].present? %>
  <h1>検索結果</h1>
  <h1><%= link_to "戻る", stoves_path %></h1>
<% else %>
  <h1>薪ストーブメンテナンス</h1>
  <h3 class="center">未完了:<%= Stove.where(progress: "0").count %>件
                      (催促:<%= Stove.where(reminder: "1").count %>件)</h3>
<% end %>

<div class="col-md-12">
  <div class="input-group">
    <%= form_tag(stoves_path, method: :get) do %> <!-- 得先名検索フォーム -->
      <span class="input-group-btn">
        <%= text_field_tag :search, '', placeholder: '得意先名を入力', class: "form-control" %>
        <%= submit_tag '検索', customer_name: nil, class: "btn btn-primary" %>
      </span>
    <% end %>
  </div>

  <% unless params[:search].present? %>
  <div class="dropdown doropdown-index">
  　<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  　　<%= @page %>
  　　<span class="caret"></span>
  　</button>
  　<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  　　<li><%= link_to "10", stoves_index_per_path(10) %></li>
  　　<li><%= link_to "20", stoves_index_per_path(20) %></li>
  　　<li><%= link_to "50", stoves_index_per_path(50) %></li>
  　　<li><%= link_to "100", stoves_index_per_path(100) %></li>
  　</ul>
  　<span class="doropdown-text">件表示</span>
  </div>
  <% end %>
  <div>
    <%= link_to "新規登録", new_stofe_path, remote: true, class: "btn btn-lg btn-primary pull-right btn-index" %>
  </div>
  
  <div>
  <%= will_paginate %>
  <table class="table table-bordered table-condensed table-hover text-center", id="main-table" >
    <% unless @stoves.count == 0 %>
      <thead>
        <tr>
          <th class="text-center">受付日</th>
          <th class="text-center">氏名</th>
          <th class="text-center">進捗</th>
          <th class="text-center">煙突</th>
          <th class="text-center">本体</th>
          <th class="text-center">住所</th>
          <th class="text-center">備考</th>
          <th class="text-center">催促</th>
          <% if current_user.admin? %>
            <th class="text-center">修正</th>
            <th class="text-center">削除</th>
          <% end %>
        </tr>
      </thead>
    <% end %>
    
    <tbody>
      <% @stoves.each do |stove| %>
        <% if stove.progress == "1" && stove.reminder == "0" %>
          <tr bgcolor="<%= "#e2e4eb" %>">
        <% elsif stove.progress == "0" && stove.reminder == "1" %>
          <tr bgcolor="<%= "#ffd2d2" %>">
        <% else %>
          <tr>
        <% end %>
          <td><%= stove.signup_at.strftime('%m/%d') %></td>
          <td><%= link_to stove.customer_name, stofe_path(stove), remote: true %></td>
          <td>
            <% if stove.progress == "0" %>
              <%= link_to "未完了", edit_progress_path(stove), remote: true, class: "btn btn-default active" %>
            <% else stove.progress == "1" %>
              <%= link_to "完了", edit_progress_path(stove), remote: true, class: "btn btn-success" %>
            <% end %>
          </td>
          
          <% if stove.summary_1 == "1" %>
            <td class="label-text"><label class="label label-danger">煙突</label></td>
          <% else %>
            <td></td>
          <% end %>
          
          <% if stove.summary_2 == "1" %>
            <td class="label-text"><label class="label label-warning">本体</label></td>
          <% else %>
            <td></td>
          <% end %>
          
          <td><%= stove.address %></td>
          <td>
            <%= link_to "備考", stofe_path(stove), remote: true, class: "btn btn-primary" if stove.note.present? %>
          </td>
          
          <td>
            <% if stove.progress == "0" && stove.reminder == "0" %>
              <%= link_to "　　", edit_reminder_path(stove), remote: true, class: "btn btn-default" %>
            <% elsif stove.progress == "0" && stove.reminder == "1" %>
              <%= link_to "催促", edit_reminder_path(stove), remote: true, class: "btn btn-danger" %>
            <% else %>
            <% end %>
          </td>
          
          <% if current_user.admin? %>
            <td><%= link_to "修正", edit_stofe_path(stove), remote: true, class: "btn btn-default active" %></td>
            <td>
              <%= link_to "削除", stofe_path(stove), method: :delete,
                                  data: { confirm: "#{stove.customer_name}のデータを削除しますか？" },
                                  class: "btn btn-danger" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>

<!-- モーダルウィンドウ -->
<div id="edit-progress" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-reminder" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="show" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
