<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td class="active">名前</td>
      <td><%= @user.name %></td>
    </tr>

    <tr>
      <td class="active">メールアドレス</td>
      <td><%= @user.email %></td>
    </tr>
  </table>
  <div>
    <div class="category">
      <%= link_to "修理管理表", "#", class: "btn btn-default btn-block btn-lg active flexiblebox progress-btn" %>
      <p>未完了件数</p>
    </div>
    <div class="category">
      <%= link_to "薪ストーブメンテナンス表", stoves_path, class: "btn btn-danger btn-block btn-lg active flexiblebox progress-btn" %>
      <p>未完了件数</p>
    </div>
    <div class="category">
      <%= link_to "薪受注表", '#', class: "btn btn-warning btn-block btn-lg active flexiblebox progress-btn" %>
      <p>未完了件数</p>
    </div>
  </DIV>
</div>
