<%= form_with(model: @repair, local: true) do |f| %>
  <%= render partial: 'shared/error_messages', locals: { obj: @repair } %>
  
  <div>
    <%= f.label :signup_at, class: "label-#{yield(:class_text)}" %>
    <%= f.date_field :signup_at, class: "form-control"  %>
  </div>
  
  <%= f.label :machine_type, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :machine_type, class: "form-control" %>
  
  <%= f.label :note, class: "label-#{yield(:class_text)}" %>
  <%= f.text_area :note, class: "form-control", rows: 3 %>
  
  <%= f.label :customer_name, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :customer_name, placeholder: '必須項目', class: "form-control" %>

  <%= f.label :address, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :address, class: "form-control" %>
  
  <%= f.label :phone_number, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :phone_number, placeholder: 'ハイフンなしで入力 例: 0188868880', class: "form-control" %>
  
  <%= f.label :mobile_number, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :mobile_number, placeholder: 'ハイフンなしで入力 例: 09012341234', class: "form-control" %>
  
  <div>
    <%= f.check_box :summary_2, class: "checkbox-inline" %>
    <%= f.label :summary_2, class: "label-#{yield(:class_text)}" %>
  </div>
  
  <%= f.check_box :summary_1, class: "display-none" %>
  <%= f.check_box :progress, class: "display-none" %>
  <%= f.check_box :reminder, class: "display-none" %>
  <%= f.check_box :contacted, class: "display-none" %>

  <div class="center">
    <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
    <button type="button" class="btn btn-default active btn-<%= yield(:class_text) %>" data-dismiss="modal">キャンセル</button>
  </div>
<% end %>
